h1 {
  text-align: center;
}

#grid {
  width: 800px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  border: 1px solid gray;
  box-shadow:0 0 5px 2px gray;
}

.cell {
  width: 8px;
  height: 8px;
}

.snake {
  background-color: black;
  border-radius: 30%;
}

.ghost {
  background-color: gray;
}

.food{
  animation: food 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  border-radius: 50%;
}

.apple{
  animation: specialFood 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


#scoreBoard{
  width: 800px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  border: 1px solid gray;
  background-color:#eee;
  box-shadow:0 0 5px 2px gray
}

@keyframes specialFood{
  from {
    background-color: red;
    box-shadow: 0 0 7px 4px red;
  }
 to{
   background-color: red; 
  }
}

@keyframes food{
  from {
    background-color: blue;
    box-shadow: 0 0 4px 2px blue;
  }
 to{
   background-color: blue; 
  }
}
